<link rel="stylesheet" href="css/style.css">
<style>
body
{
    background-image: url("images/about.jpg");
    background-repeat: no-repeat;
	opacity:0.8;
    background-size: 100%; 
    padding-bottom: 75px;
	background-attachment: fixed;
}
b
{
background-color:honeydew;
}
</style>
<div>
<p class="form-title">
<font color="red">
<h2 align="center"><u>About Us</u></h2></font></p>
<p class="form-title">
<font color="blue">
<div>
<p>The job marketplace is flooded with highly skilled job seekers, all of which are competing for the same limited number of positions, there are more applicants saturating the job market every single day. 
To say that the applicant pool for most new positions out there is competitive would be an understatement. Recruiters are screening thousands of applicants as thoroughly as possible. While combing over resumes, they are also using the power of the internet to make sure they are picking the cream of the crop to fill these limited open positions. Combine this with the fact that some jobs become open and available without the ability to ever hear about them, and you are looking at a very difficult situation. Job Seeker that take advantage of the tools and resources offered by Job Seekers Website have found the best kept secret for increasing their chances of finding the job they deserve.
</p></div>

<div>
<p>Job Search Websites connect thousands of men and women with top employment opportunities,<b>TakeAJob</b> immediately gives you access to the kind of open positions that you would expect to find on other premium job search websites. The positions listed are extremely attractive, because of the industries that they are in (Technology, Healthcare, Medical, Business, Finance, etc), and the high quality companies represented. These are positions that can launch your career, help you secure the financial future you are working towards.
</p>
</div>
</p>

</div>