<html>
<link rel="stylesheet" href="css/style.css">
<div>

<style>
body
{
    background-image: url("images/jobport.jpg");
    background-repeat: no-repeat;
	opacity:0.9;
    background-size: 100%; 
    padding-bottom: 75px;;
}
.navbar-default
{
	background-color: black;
	color: white;
}
</style>
</head>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
   <marquee behavior="slide" direction="left" scrollamount="7"><h4>Website developed and maintained by Sarath Potluri</h4></marquee>
  </div>
</nav>
</div>
</html>