<link rel="stylesheet" href="css/style.css">

<style type="text/css">
body
{
    background-image: url("images/friend2.jpg");
    background-repeat: no-repeat;
	opacity:0.8;
    background-size: 100%; 
    padding-bottom: 75px;
	background-attachment: fixed;
}
</style>



<table style="font-family:Georgia, Garamond, Serif;color:white;">

	<thead>
	<p class="form-title">
	<font color="white">
	<th><h3><b>Your Friends</b></h3></th></p>
		<tr>
			<th>Username</th>

			<th>Image</th>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat="friend in friends">
	<td ng-hide="friend.fromId==currentUser.username">{{friend.fromId}}</td>
	<td ng-hide="friend.toId==currentUser.username">{{friend.toId}}</td>
	<td><img src="http://localhost:8090/backend/getimage/{{friend.fromId}}" height="50px"
width="60px" ng-hide="friend.fromId==currentUser.username"></td>

     <td align="right"><img src="http://localhost:8090/backend/getimage/{{friend.toId}}" height="50px"
width="50px"  ng-hide="friend.toId==currentUser.username"></td>
	</tr>
	</tbody>
</table>